{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <em>"La programación hoy es una carrera entre los ingenieros de software, que luchan por construir programas más grandes y mejores a prueba de tontos, y el Universo, que intenta producir idiotas más grandes y mejores. Hasta ahora, el Universo va ganando."</em>
        <p>- Rick Cook</p>
        <br>
        <em>"Optimiza para hacer el cambio más fácil hoy. Porque no sabemos qué necesitaremos en el futuro, pero sabemos que vamos a necesitar cambiar."</em>
        <p>- Kent Beck</p>
        <br>
        <p><b>Correo Eletronico:</b> al222110815@gmail.com</p>
        <p><b>Locación:</b> Estado de Mexico.</p>
    </div>
</div>
{% endblock %}

